@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
background-color: hsl(212, 45%, 89%);
font-size: 15px;
font-family: 'Outfit';
}
.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-con {
    width: 320px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
}

#qr-code {
width: 285px;
height: 285px;
border-radius: 5px;
}

#first-p {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 20px;
}

#second-p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    width: 285px;
}






/*
## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700
*/